*~
*.po
*.itf
*.asr
*.ast
*.testout
*.elc
*_DARWINi686.a
*_DARWINi686.dylib
*_DARWINi686_glue.c
*_DARWINi686_glue.o
*_DARWINx86_64.a
*_DARWINx86_64.dylib
*_DARWINx86_64_glue.c
*_DARWINx86_64_glue.o
*_LINUXi686.a
*_LINUXi686.dylib
*_LINUXi686_glue.c
*_LINUXi686_glue.o
*_LINUXx86_64.a
*_LINUXx86_64.dylib
*_LINUXx86_64_glue.c
*_LINUXx86_64_glue.o
/build-boot/
/build/
/third-party/
/core_OC/bootstrap/backup/
/tmp/
