# Mapping Ciao authors and contributors
#
# See man git-shortlog for a description of the format

<manuel.hermenegildo@imdea.org> <herme@clip.dia.fi.upm.es>
<manuel.hermenegildo@imdea.org> <herme@fi.upm.es>
<manuel.hermenegildo@imdea.org> <manue.hermenegildo@imdea.org>
Jose F. Morales <jfmcjf@gmail.com> <jfran@clip.dia.fi.upm.es>
Manuel Carro <mcarro@fi.upm.es> <mcarro@clip.dia.fi.upm.es>
<nataliia.stulova@imdea.org> <nataliia.stulova@software.imdea.org> # Nataliia Stulova
Pedro Lopez Garcia <pedro@clip.dia.fi.upm.es>
Pedro Lopez Garcia <pedro.lopez@imdea.org> <pedro@clip.dia.fi.upm.es>
Pedro Lopez Garcia <pedro.lopez@imdea.org> <lopez@clip.dia.fi.upm.es>
Remy Haemmerle <remy@clip.dia.fi.upm.es>
Remy Haemmerle <remy@clip.dia.fi.upm.es> <remy@Charlotte.maframboise.com>
Remy Haemmerle <remy@clip.dia.fi.upm.es> <remy.haemmerle@imdea.org>
Umer Liqat <umer.liqat@imdea.org>
Umer Liqat <umer.liqat@imdea.org> <umerlqt@gmail.com>
Onder Babur <onder.babur@imdea.org> <obabur@Alexander-PC.imdea.org>

# Unknown users, general accounts
Unknown <ciao@clip.dia.fi.upm.es> <asapdemo@clip.dia.fi.upm.es>
Unknown <ciao@clip.dia.fi.upm.es> <clip@clip.dia.fi.upm.es>
Unknown <ciao@clip.dia.fi.upm.es> <ciaotester@clip.dia.fi.upm.es>

# Former contributors with probably outdated email address
#
# Jose Luis Gonzalez <jlg@clip.dia.fi.upm.es>
# Jesus Correas Fernandez <jcorreas@clip.dia.fi.upm.es>
# Dragan Ivanovic <idragan@clip.dia.fi.upm.es>
# Amadeo Casas Cuadrado <amadeo@clip.dia.fi.upm.es>
# Alvaro Sevilla <asevilla@clip.dia.fi.upm.es>
# Claudio Vaucheret <claudio@clip.dia.fi.upm.es>
# Claudio Ochoa <cochoa@clip.dia.fi.upm.es>
# David Trallero Mena <dtm@clip.dia.fi.upm.es>
# Edison Mera <edison@clip.dia.fi.upm.es>
# Emilio Jesus Gallego Arias <egallego@clip.dia.fi.upm.es>
# Elvira Albert <elvira@clip.dia.fi.upm.es>
# Enrico Pontelli <enrico@clip.dia.fi.upm.es>
# Erik Lee <erikl@clip.dia.fi.upm.es>
# Jorge Navas <jorge@clip.dia.fi.upm.es>
# Arsen Kostenko <kosty@clip.dia.fi.upm.es>
# Laurent Hubert <laurent@clip.dia.fi.upm.es>
# Michael Leuschel <leuschel@clip.dia.fi.upm.es>
# Mario Mendez Lojo <mario@clip.dia.fi.upm.es>
# Miky Zamalloa <mzamalloa@clip.dia.fi.upm.es>
# Pawel Pietrzak <pawel@clip.dia.fi.upm.es>
# Pablo Chico de Guzmán Huerta <pchico@clip.dia.fi.upm.es>
# Samir Genaim <samir@clip.dia.fi.upm.es>
# Santiago Diez <sdiez@clip.dia.fi.upm.es>
# Tom Schrijvers <toms@clip.dia.fi.upm.es>
# Maria Teresa Trigo de la Vega <ttrigo@clip.dia.fi.upm.es>
# Victor Pablos Ceruelo <vpablos@clip.dia.fi.upm.es>
# Zoe Drey <zdrey@clip.dia.fi.upm.es>
Lorea Galech <lorea@clip.dia.fi.upm.es> # name was wrong
Juan Chanco <chanco@clip.dia.fi.upm.es> # name was wrong
